body {
    background-color: #E5E5E5;
}

* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

/* Common class. */
.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.row {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.font-b {
    font-family: ProximaNovaBold;
}

body {
    font-family: ProximaNovaRegular Arial, Helvetica, sans-serif;
}


/*---Header section---*/
.header {
    width: 100%;
    height: 50px;
    background: #1f1f1f;
    ;
}

.header .row {
    height: 50px;
}

.header-menu-list {
    display: flex;
}

.header-menu-list .nav-link {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
}

.header-menu-list .nav-link.support-us {
    display: flex;
    align-items: center;
}

.support-us-text {
    margin-left: 10px;
}

.header-menu-list .header-menu-item:not(:last-child) {
    margin-right: 20px;
}

/*---Search---*/
.section-search {
    height: 40px;
    padding-top: 26px;
    display: flex;
}

.search-section {
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
}

.search-input {
    width: 100%;
    height: 100%;
    border: none;
}

.search-btn {
    color: white;
    background-color: #5A99C1;
    padding-left: 33px;
    padding-right: 33px;
    border: none;
    font-weight: bold;
    border-radius: 0px 5px 5px 0px;
}

.search-icon,
.search-clear {
    display: flex;
    padding-left: 14px;
    padding-right: 14px;
}

.logo {
    display: none;
}

@media(min-width:1000px) {
    .icon-btn {
        display: none;
    }
}

.checkbtn {
    font-size: 15px;
    color: white;
    display: none;
}

@media(max-width:958px) {
    .header-logo {
        display: none;
    }

    .logo {
        display: block;
    }

    .icon-btn {
        color: white;
        background-color: #5A99C1;
        padding-left: 13px;
        padding-right: 11px;
        border: none;
        font-weight: bold;
        border-radius: 0px 5px 5px 0px;
    }

    .header-menu-list {
        display: none;
    }

    .search-btn {
        display: none;
    }

    .search-clear {
        display: none;
    }
}

@media (max-width:858px) {
    .checkbtn {
        display: block;
    }

    .word {
        display: block;
    }
}

/*---Box---*/
.box-3 {
    color: #1F1C1C;
    padding: 4px;
    text-decoration-line: underline;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-left: 16px;
    margin-right: 5px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

@media(max-width:958px) {
    .box-2 {
        display: none;
    }

    .box {
        text-align: center;
    }

    .box-4 {
        width: 100%;
        padding-right: 32px;
        font-weight: bold;
    }
}

/*---images---*/
.img-section {
    display: flex;
    position: relative;
}

.images-box {
    position: relative;
}

.images-box:not(:first-child) {
    margin-left: 20px;
}

.images-text {
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.images-box > img {
    width: 100%;
    }

.word {
    font-size: 48px;
    line-height: 45px;
    margin-bottom: 15px;
}

@media(max-width:958px) {
    .eksponat {
        display: none;
    }

    .images-box:not(:first-child) {
        margin-left: 0px;
    }

    .img-section {
        display: inline-table;
    }

    .class>img {
        width: 100%;
    }

    .images-box > img {
        width: 100%;
        }

    .images-text {
        width: 100%;
    }

    .word {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .images-box {
        width: 100%;
        height: 50px;
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 10px;
    }
}